<div class="row">
  <div class="col-sm-3">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>City</th>
          <th>Jobs</th>
        </tr>
      </thead>
      <tbody>
        <% Job.count_by_city.each do |k, v| %>
          <tr>
            <th scope="row"><%= link_to k, jobs_path(:location => k) %></th>
            <td><%= v %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <canvas id="myChart" width="200" height="200"></canvas>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%= Job.count_of_job_by_loi.keys %>,
            datasets: [{
                label: '# of Jobs',
                data: <%= Job.count_of_job_by_loi.values %>,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  </div>

  <div class="col-sm-3">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>Companies</th>
          <th>Average LOI</th>
        </tr>
      </thead>
      <tbody>
        <% Job.level_of_interest_by_company.each do |subarray| %>
          <tr>
            <th scope="row"><%= Company.print_name(subarray[0]) %></th>
            <td><%= subarray[1].to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
