<div class="row">
  <div class="col">
    All Jobs for <strong><%= @company.name %></strong>

    <% @company.jobs.each do |job| %>
      <ul><%= link_to job.title, company_job_path(@company, job) %></ul>
    <% end %>
    <%= link_to "Add a Job", new_company_job_path(@company, @job), class: "btn btn-primary" %>
  </div>
  <div class="col">
    <h3>Contacts:</h3>
    <%= render partial: 'companies/contacts', collection: @company.contacts.sort %>
  </div>
  <div class="col">
    <h3>Add a Contact:</h3>
    <%= render partial: 'contacts/form' %>
  </div>
</div>
